body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F5F5EF;
    color: rgb(150, 114, 114);
    margin: 0%;
}

#content{
    margin-top: 90px;
}

#error{
    margin-top: 150px;
}

.btn_menu {
    color:#F5F5EF;
    padding: 8px;
    grid-area: menu;
    justify-self: start;
    font-size: 12px;
}

.header{
    top: 0;
    width: 100%;
    position: fixed;      
}

.encabezado {
    /* display: flex; */
    justify-content: flex-start;   
}

.encabezadoMin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "menu logo";
    align-items: end;
    color: white;
    background-color: #c0ac97;
}

.encabezadoMin .logo {
    width: 45%;
    grid-area: logo;
    align-self: center;
    justify-self: center; /*alineacion propia dentro del grid*/ 
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

.menu{
    background-color: white;
}

ul.navigation.show {
    display: flex;  
}

ul.navigation li a {
    display: block;
    text-decoration: none;    
    color: #a4856a;
    padding: 8px 8px;
    transition: all 500ms ease; /*aplica un efecto en el color de los elementos de la lista al navegar entre ellos*/
}

.header .menu .navigation li a:hover{ /*cuando pasamos el mouse por encima de un boton cambia el color*/
    color: rgb(14, 13, 13);
}

.presentacion h2, .destacados h2, .sucursales h2, .formato.contacto h2, section h1, #tablaTalles{ 
    text-align: center;
    box-shadow: 3px 6px 6px rgba(0,0,0,0.2); /*agrega sombra*/  
    margin: 40px 10px 2px 2px;
    font-size: 1.5em;
}


.presentacion p{
    margin: 10px;
    margin-top: 20px;
}

.destacados, .sucursales, .presentacion{
    margin-top: 10px;
}

.sucursales{
    grid-area: suc;
    text-align: center;
}

.imagenes-dest .img-home{
    margin-left: 5px;
    margin-right:5px; 
    max-width: 50%;
    min-width: 30%;     
}

.imagenes-dest{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.local{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.local img{
    margin-left: 0.5rem;
    max-width: 50%;
    min-width: 20%;
}   

.contenido, .destacados, .presentacion, h2, thead, h1{
    color: #5e4c3c;
}

thead{
    background-color: #c0ac97;
}

.resaltar{
    background-color: #dfd3c8;
    color: #5e4c3c;
}

.quitarResaltar{
    color: #5e4c3c;
}

.listaSucursales{
    list-style: none;  
    padding-inline-start: 0;
}

.formato.contacto {
    flex-direction: column; 
}

textarea{
    resize: none; /*impide redimensionarlo*/
} 

/* CAPTCHA */
#ia{
    height: 40px;
    width: 80px;
    max-height: 12%;
    min-height: 30%;
    min-width: 18%;
    max-width: 50%;
}

form button, .btn-talles, #btn-filtro, .btn-cerrar{
    background: lightgrey;
    padding: 0.7em;
    border: 0;
    margin: 0.3rem;
}

form button:hover, .btn-talles:hover, #btn-filtro:hover, .btn-cerrar:hover {
   background-color: rgb(77, 75, 73); /*cambia de color con el curson*/
}
  
form label {
  display: block; /*para que aparezca una abajo de la otra*/
  padding: 0.5em 1.5em 0.5em 0;   
}

.contacto form, #form-talles {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 30px;
    max-width: 800px; /*maximo valor de ancho que puede tomar*/
}

#h4-editar{
    grid-area: h4Modificar;
    padding: 2px;
    margin-left: 10px;
}

#nuevoTalle{
    grid-area: nuevoTalle;
}

#nuevoBusto{
    grid-area: nuevoBusto;
}

#nuevoCintura{
    grid-area: nuevoCintura;
}

#nuevoCadera{
    grid-area: nuevoCadera;
}


#div-inputsMod{
    grid-area: divInpustMod;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "nuevoTalle nuevoBusto "
    "nuevoCintura nuevoCadera "
    "btnModificar btnModificar";
}

#btn-enviarEditar{
    grid-area: btnModificar;
    margin-top: 0;
}

.editarEncabezado{
    display: flex;
    justify-content: space-between;
}

.btn-cerrar{
    justify-content: end;
}

#form-editar{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "h4Modificar"
    "divInpustMod";
    padding: 0.5em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 30px;
    max-width: 850px;
}

.inputMod {
    margin-right: 0;
}

.btn-cerrar{
    height: 1.2rem;
}

#btn-editar, #btn-borrar, .btn-cerrar {
    min-width: 2%;
    width: 0.78rem;
    padding: 0.2em;
    margin: 0.1rem;
}

form .campos-form , #txt-captcha{
    width: 80%;
    padding: 0.7em;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;    
}

.presentacion{
    grid-area: pres;
}

.destacados{
    grid-area: dest;
}

.contenido{
    grid-area: cont;
}

.img-producto{
    height: 12rem;
    width: 9rem;
    max-width: 90%;
    min-width: 50%;
}

.producto div{
    text-align: center;
}

.producto{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
    "img1 img1"
    "img2 img2";
}

.inputsTalles, .inputsTallesUser{
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.inputT {
    padding: 0.7em; 
    margin-bottom: 1rem;  
    margin-left: auto; 
    margin-right: auto; 
}

.inputMod{ 
    margin-left: auto; 
    margin-right: auto; 
}

.inputDisenio{
    padding: 0.5em; 
    margin-bottom: 0.5rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 80%
}
  
#imgProductoTop{
    grid-area: img1;
}

#imgProductoBottom{
    grid-area: img2;
}

table {
    margin-top: 30px;
    /* width: 90%; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: auto;
}

td{
    border: solid 1px;
    text-align: center;
    border-color:#a4856a;
    width: auto;
    padding: 1px;
    font-size: smaller;
}

#busto{
    grid-area: busto;
}

#cintura{
    grid-area: cintura;
}

#cadera{
    grid-area: cadera;
}

#titulo-inputs{
    grid-area: titulo;
}

.inputs-tabla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "titulo"
    "busto"
    "cintura"
    "cadera";
}

#selectFiltro{
    grid-area: selectFiltro;
    width: 150%;
}

#tit-filtro{
    grid-area: titFiltro;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

#medidaMin{
    grid-area: medidaMin;
    margin: 0px 0px 8px;
}

#medidaMax{
    grid-area: medidaMax;
    margin: 0px 0px 8px;
}

#btn-filtro{
    grid-area: btnFiltro;
}

.btn-cargar{
    grid-area: agregar;
}

.btn-agregarTres{
    grid-area: agregarTres;
}

.inputOculto{
    display: none;
}

.inputVisible{
    display: inherit;
    width: 130%;
}

#inputsEditar{
    display: none;
}

#inputsMostrar{
    display: inherit;
}

#filtro{
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "titFiltro "
    "selectFiltro"
    "medidaMin " 
    "medidaMax"
    "btnFiltro";
    max-width: 110px;
    justify-items: center
}

.btn-tabla{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "agregar agregarTres";
}

footer{
    text-align: center; 
    grid-area: foot;
}

#redes{
    width: 1.5rem;
}


@media screen and (min-width: 660px){

    #content{
        margin-top: 120px;
    }

    body{
        font-size: medium;
    }

    .contenedor{
        display: grid;
        grid-area: contenedor;
        grid-template-columns: 1fr;
        grid-template-areas:
        "cont"
        "foot";
    }
     
    .contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pres dest"
        "suc dest";
    }
    
    .btn_menu {
        display: none;
    }
       
    ul.navigation {
        display: flex;
        flex-direction: row;
    }

    ul.navigation li {
       list-style: none;        
    }
    
    .encabezado{
        display: flex;
        justify-content: center;
        background-color: #c0ac97;
    }
        
    .menu{
        background-color: #c0ac97;
    }

    .header .logo{
        width: 100px;
        height: 100px;
        top: 0%;
    }

    .encabezado{
        height: 40px; 
    }
          
    .encabezado .menu ul{ /*aca configura toda la lista del nav*/
        display: flex;
        list-style: none; /* saca formato lista*/
    }
        
    .encabezado .menu ul li a{/*aca configura cada elemento de la lista*/
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        transition: all 500ms ease; /*aplica un efecto en el color de los elementos de la lista al navegar entre ellos*/
    }
    
    .encabezado .menu ul li a:hover{ /*cuando pasamos el mouse por encima de un boton cambia el color*/
        background: #a4856a;
        color: #fff;
    }

    .presentacion, .destacados, .sucursales{
        height: auto;   
        margin-left: 30px; 
        margin-right: 30px;
        text-align: center; /*alinea el contenido dentro del div*/
        width: 80%;
    }

    .imagenes-dest{
        flex-direction: column;
        align-items: center;
    }
            
    .presentacion img, .destacados img, .img-producto{
        box-shadow: 4px 7px 7px rgba(0,0,0,0.2);
    }

    .presentacion img, .destacados img{
        width: 60%; 
        height: 60%;
    }
    
    .img-home{
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .sucursales{
        list-style: none;  
    }  

    .contacto form, #form-talles, #form-editar {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .formato.contacto h2{
        margin-top: 150px;
    }

    form .campos-form {
        font-size: small;
    }

    .contacto form {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1::before{ /*asi el link nos dirige al h1*/
        color: #212123;
        display: block;
        content: ""; /*se usa junto con :before para generar contenido que se adjunta antes del h1*/
        height: 30px; /* asi hacemos que al seleccionar uno de los productos del nav, */
        margin-top: -60px; /*nos dirija directo al titulo*/
        padding-top: 120px;
    }

    #abrigo{ 
        margin-top: -120px; /*de esta manera evitamos que el div de abrigos no este alejado del nav*/
    } 
    
    .producto{
        display: inline; /* los elementos se disponen uno detrás de otro en la misma línea*/
        display: flex;
        justify-content: space-around;
        margin-bottom: -123px;
    }
    
    .producto .img-producto {
        width: 210px; 
        height: 240px;
    }

    .inputs-tabla{
        display: inherit;
    }
    
    table {
        margin-top: 0px;
        width: auto;
    }

    td {
        padding: 6px;
    }

    #btn-filtro{
        margin-top: 0px;
    }

    #h4-editar{
       margin-right: 38%;
    }

    #btn-editar{
        min-width: 2%;
        width: 1.2rem;
        padding: 0.3em;
        margin: 0.2rem;
    }
    
    #btn-borrar{
        min-width: 2%;
        width: 1.2rem;
        padding: 0.3em;
        margin: 0.2rem;
    }

    #div-inputsMod{
        grid-area: divInpustMod;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nuevoTalle nuevoBusto nuevoCintura nuevoCadera btnModificar";
    }

    #redes{
        min-width: 2%;
        width: 2rem;
    }
}        