body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F5F5EF;
    color: rgb(150, 114, 114);
    margin: 0%;
}

.btn_menu {
    color:#F5F5EF;
    padding: 8px;
    grid-area: menu;
    justify-self: start;
    font-size: 12px;
}

.header{
    top: 0%;
    grid-area: header;
    position: sticky;      
}

.encabezado {
    /* display: flex; */
    justify-content: flex-start;   
}

.encabezadoMin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "menu logo";
    align-items: end;
    color: white;
    background-color: #c0ac97;
}

.encabezadoMin .logo {
    width: 45%;
    grid-area: logo;
    align-self: center;
    justify-self: center; /*alineacion propia dentro del grid*/ 
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

.menu{
    background-color: white;
}

/* .submenu{
    list-style: none;
    display: flex;
    margin-left: -10px;
    font-size: 0.9rem;
} */

ul.navigation.show {
    display: flex;  
}

ul.navigation li a {
    display: block;
    text-decoration: none;    
    color: #a4856a;
    padding: 8px 8px;
    transition: all 500ms ease; /*aplica un efecto en el color de los elementos de la lista al navegar entre ellos*/
}

.header .menu .navigation li a:hover{ /*cuando pasamos el mouse por encima de un boton cambia el color*/
    color: rgb(14, 13, 13);
}

/* .menu ul.submenu li a{
     line-height: 35px; 
     color:  rgb(150, 114, 114); 
     margin-top: 0px; 
     padding-top: 0px;
     padding-bottom: 0px;
     padding-left: 12px; 
} */

.presentacion h2, .destacados h2, .sucursales h2, .formato.contacto h2, section h1, #tablaTalles{ 
    text-align: center;
    box-shadow: 3px 6px 6px rgba(0,0,0,0.2); /*agrega sombra*/  
    margin: 40px 10px 2px 2px;
    font-size: 1.5em;
}

.presentacion p{
    margin: 10px;
    margin-top: 20px;
}

.destacados, .sucursales, .presentacion{
    margin-top: 10px;
}

.sucursales{
    grid-area: suc;
    text-align: center;
}

.imagenes-dest .img-home{
    margin-left: 5px;
    margin-right:5px; 
    max-width: 50%;
    min-width: 30%;     
}

.imagenes-dest{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.local{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.local img{
    margin-left: 0.5rem;
    max-width: 50%;
    min-width: 20%;
}   

.contenido, .destacados, .presentacion, h2, thead, h1{
    color: #5e4c3c;
}

thead{
    background-color: #c0ac97;
}

.resaltar{
    background-color: #c0ac97;
    color: #5e4c3c;
}

.listaSucursales{
    list-style: none;  
    padding-inline-start: 0;
}

.formato.contacto {
    flex-direction: column; 
}

textarea{
    resize: none; /*impide redimensionarlo*/
} 

/* CAPTCHA */
#ia{
    height: 40px;
    width: 80px;
    max-height: 12%;
    min-height: 30%;
    min-width: 18%;
    max-width: 50%;
}

form button, .btn-talles{
    background: lightgrey;
    padding: 0.7em;
    border: 0;
    margin: 0.3rem;
}

form button:hover, .btn-talles:hover {
   background-color: rgb(77, 75, 73); /*cambia de color con el curson*/
}
  
form label {
  display: block; /*para que aparezca una abajo de la otra*/
  padding: 0.5em 1.5em 0.5em 0;   
}

.contacto form, #form-talles, #form-edit-delete {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 30px;
    max-width: 800px; /*maximo valor de ancho que puede tomar*/
}

form .campos-form , #txt-captcha{
    width: 80%;
    padding: 0.7em;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;    
}

.presentacion{
    grid-area: pres;
}

.destacados{
    grid-area: dest;
}

.contenido{
    grid-area: cont;
}

.img-producto{
    height: 12rem;
    width: 9rem;
    max-width: 90%;
    min-width: 50%;
}

.producto div{
    text-align: center;
}

.producto{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
    "img1 img1"
    "img2 img2";
}

.inputsTalles, .inputsTallesUser{
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.inputT {
    padding: 0.7em; 
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;   
    margin-left: auto; 
    margin-right: auto; 
}
  
#imgProductoTop{
    grid-area: img1;
}

#imgProductoBottom{
    grid-area: img2;
}

table {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: solid 1px;
    text-align: center;
    border-color:#a4856a;
    width: auto;
} 

#busto{
    grid-area: busto;
}

#cintura{
    grid-area: cintura;
}

#cadera{
    grid-area: cadera;
}

#titulo-inputs{
    grid-area: titulo;
}

.inputs-tabla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "titulo"
    "busto"
    "cintura"
    "cadera";
}

.btn-cargar{
    grid-area: agregar;
}

.btn-agregarTres{
    grid-area: agregarTres;
}

.btn-modificar{
    grid-area: modificar;
}

.btn-borrar{
    grid-area: borrar;
}

.btn-tabla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "agregar agregarTres"
    "modificar borrar";
}

footer{
    text-align: center; 
    grid-area: foot;
}

#redes{
    width: 1.5rem;
}


@media screen and (min-width: 660px){

    body{
        font-size: medium;
    }

    .contenedor{
        display: grid;
        grid-area: contenedor;
        grid-template-columns: 1fr;
        grid-template-areas:
        "cont"
        "foot";
    }
     
    .contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pres dest"
        "suc dest";
    }

    .btn_menu {
        display: none;
    }
       
    ul.navigation {
        display: flex;
        flex-direction: row;
    }

    ul.navigation li {
       list-style: none;        
    }
    
    .encabezado{
        display: flex;
        justify-content: center;
        background-color: #c0ac97;
    }
        
    .menu{
        background-color: #c0ac97;
    }
   
    /* .menu ul.submenu{
        display: none; esconde el submenu  */
        /* padding: 0px;  */
    /* } */

    .header .logo{
        width: 100px;
        height: 100px;
        top: 0%;
    }

    .encabezado{
        height: 40px; 
    }
          
    .encabezado .menu ul{ /*aca configura toda la lista del nav*/
        display: flex;
        list-style: none; /* saca formato lista*/
    }
        
    .encabezado .menu ul li a{/*aca configura cada elemento de la lista*/
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        transition: all 500ms ease; /*aplica un efecto en el color de los elementos de la lista al navegar entre ellos*/
    }
    
    .encabezado .menu ul li a:hover{ /*cuando pasamos el mouse por encima de un boton cambia el color*/
        background: #a4856a;
        color: #fff;
    }

  /*  .menu ul li a:hover + ul, .menu .submenu:hover{ /* a:hover +ul selecciona la lista desplegable*/
   /*     display: block; /*al momento de pasar el mouse  (:hover) se aplica el diplay block 
        para que fije el submenu y quede visible (pisando las propiedades anteriores diplay none*/
    /* } */
/*     
    .menu ul.submenu{
        background: #fff;
        box-shadow: 3px 10px 10px rgba(0,0,0,0.2); /*aplica una sombra al lisla desplegable*/
  /*      display: none; /*esconde el submenu*/
     /*   padding: 10px 10px; /*pisa el padding que hereda del menu para que se vea centrado el hover*/
        
    /*} */
    
    /* .menu ul.submenu li a{
         color:  rgb(150, 114, 114); 
    } */
/* 
    .submenu{
        list-style: none;
        display: none;
        margin-left: 0px;
        font-size: 1rem;
    } */

    .presentacion, .destacados, .sucursales{
        height: auto;   
        margin-left: 30px; 
        margin-right: 30px;
        text-align: center; /*alinea el contenido dentro del div*/
        width: 80%;
    }

    .imagenes-dest{
        flex-direction: column;
        align-items: center;
    }
            
    .presentacion img, .destacados img, .img-producto{
        box-shadow: 4px 7px 7px rgba(0,0,0,0.2);
    }

    .presentacion img, .destacados img{
        width: 60%; 
        height: 60%;
    }
    
    .img-home{
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .sucursales{
        list-style: none;  
    }  

    .contacto form, #form-talles, #form-edit-delete {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    form .campos-form {
        font-size: small;
    }

    .contacto form {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1::before{ /*asi el link nos dirige al h1*/
        color: #212123;
        display: block;
        content: ""; /*se usa junto con :before para generar contenido que se adjunta antes del h1*/
        height: 30px; /* asi hacemos que al seleccionar uno de los productos del nav, */
        margin-top: -60px; /*nos dirija directo al titulo*/
        padding-top: 120px;
    }

    #abrigo{ 
        margin-top: -120px; /*de esta manera evitamos que el div de abrigos no este alejado del nav*/
    } 
    
    .producto{
        display: inline; /* los elementos se disponen uno detrás de otro en la misma línea*/
        display: flex;
        justify-content: space-around;
        margin-bottom: -123px;
    }
    
    .producto .img-producto {
        width: 210px; 
        height: 240px;
    }

    .inputs-tabla{
        display: inherit;
    }

    .inputT {
        width: 28%;
    }
    
    table {
        width: 50%;
    }

    #redes{
        min-width: 2%;
        width: 2rem;
    }
}




        